.line {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  margin: 15px 0;
}

.news {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.title {
  position: relative;
  line-height: 40px;
  color: #145692;
  background-color: #deeffb;
  text-indent: 30px;
}

.title::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url(http://chinaccso.org.cn:8090/images/shu.jpg) no-repeat;
  background-size: 100% 100%;
}

.left {
  width: 20%;
  min-width: 120px;

  .title {
    line-height: 40px;
    color: #145692;
    background-color: #deeffb;
  }

  .list {
    text-align: center;
    line-height: 35px;

    &>div {
      font-size: 12px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px #deeffb solid;
      cursor: pointer;

      &:hover {
        background: rgba(187, 243, 247, 0.3);
      }

      &:visited {
        background: rgba(187, 243, 247, 0.3);
      }
    }
  }
}

.right {
  width: 80%;
  margin: 0 10px;
  font-size: 12px;

  .newsTitle {
    text-align: center;
    font-size: 14px;
  }

  .newsTime {
    text-align: right;
  }

  .newsContent {
    margin-top: 10px;
  }
}
